<div class="container-fluid mt-3">
  <h3 class="p-0 mb-0">Listado de Bodegas</h3>
  <hr class="mt-2 mb-3">
  <div class="col-sm-4 p-0 ml-auto">
    <div class="form-group">
      <input class="form-control input-lg" placeholder="Buscar bodega..."/>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="text-center">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Hacienda</th>
        <th scope="col">Acción</th>
      </tr>
      </thead>
      <tbody *ngIf="bodegas.length == 0; else datosBodega">
      <tr>
        <td colspan="4">No hay datos que mostrar.</td>
      </tr>
      </tbody>
      <ng-template #datosBodega>
        <tbody *ngFor="let bod of bodegas">
        <tr>
          <td class="text-center">{{bod.id}}</td>
          <td class="text-center">{{bod.descripcion | uppercase}}</td>
          <td class="text-center">
            <span class="badge badge-primary">{{bod.idhacienda == 1 ? 'PRIMOBANANO' : 'SOFCABANANO' }}</span></td>
          <td style="width: 10%" class="text-center">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>
